.section{
    @include padding(2);
    margin-top: 40px;
    .title {
        font-size: 60px;
    }
    p {
        color: #333;
        margin: 12px 0;
    }
    h3 {
        margin-top: 20px;
    }
    ul {
        @include margin(2);
        li {
            @include margin(0.5)
        }
    }
}