nav {
    background: $themecolor;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    a {
        color: $white;
        padding: 1.25rem;
        background: $themecolor;
        text-decoration: none;
        transition: 0.15s;
        &:hover {
            background: $white;
            color: $black;
        }
    }
}